// Variables
$primary-color: #000;
$secondary-color: #fff;
$font-family: sans-serif;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Mixins
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

// css
body {
  font-family: $font-family;
  background-color: $secondary-color;
}

header {
  background-color: $secondary-color;
  color: $primary-color;
  .container {
    padding: 1rem 2rem;
  }
}

main {
  padding: 1rem 2rem;
}

section {
  margin-bottom: 1rem;
}

article {
  .container {
    padding: 1rem 2rem;
  }

  .blog-post-header {
    .blog-post-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .blog-post-meta {
      font-size: 1rem;
      color: #999;
    }
  }

  .blog-post-content {
    p {
      margin-bottom: 1rem;
    }
  }
}

footer {
  background-color: $primary-color;
  color: $secondary-color;
  .container {
    padding: 1rem 2rem;
  }
}

.container-cost {
  margin: 0;
  padding: 0;
  min-height: 90vh;
  background-color: $secondary-color;
}